.padpage {
  padding-top: 10px;
}
.small {
  font-size: small;
  color: darkgrey;
}
.bkgdcolor {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto; 
  height: auto; 
  background-color: #E5E4E2; 
  overflow: auto;
}
.bluetext {
  color: blue;
}
.hidden {
  display: none;
}
