.padpage {
  padding-top: 10px;
}
.small {
  font-size: small;
  color: darkgrey;
}
.bkgdcolor {
  padding: 10px;
  margin: auto; 
  height: auto; 
  background-color: lightgray; 
  overflow: auto;
}
